phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
sqlalchemy
pgvector
psycopg[binary]
psycopg2
pypdf
mistralai
huggingface-hub
streamlit
google-generativeai